<html>
<head>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>

<h2>Insert Material</h2>

<form action="../controllers/MaterialsController.php?action=insertMaterial" method="POST">
    <p>Item</p>
    <p><input type="text" name="item" placeholder="Item"></p>

    <p>Description</p>
    <p>
    <textarea name="description" rows="2" cols="50" placeholder="Description"></textarea>   
    </p>

    <p>Unit Excl</p>
    <p><input type="text" name="unitExcl" placeholder="Unit Excl"></p>

    <p>Total Excl</p>
    <p><input type="text" name="totalExcl" placeholder="Total Excl"></p>

    <p>Total Incl</p>
    <p><input type="text" name="totalInc" placeholder="Total Incl"></p>

    <input type="submit">
</form>
    <p>
        <a href="../controllers/MaterialsController.php?action=getAllMaterials">View all Materials</a>
    </p>

</body>
</html>